<nav class="content">
    <%=link_to "Mangas", mangas_path, class: "has-background-danger has-text-light p-2"%>
    <%=link_to "Genres", genres_path, class: "has-background-dark has-text-light p-2"%>
    <%=link_to "Add Manga", new_manga_path, class: "has-background-dark has-text-light p-2"%>
</nav>